---
import css from "./Header.module.css";
import Logo from "../../../components/logos/Logo/Logo.astro";
import { ROUTER } from "../../../pages/router";
import Surf from "../../links/Surf/Surf.astro";
---

<header class={css.header}>
  <nav class={css.nav}>
    <Logo />
    <div class={css.anchors}>
      <Surf href={ROUTER.index.path}>{ROUTER.index.display}</Surf>
      <Surf href={ROUTER.peliculas.path}>{ROUTER.peliculas.display}</Surf>
    </div>
  </nav>
</header>
