---
import { ROUTER } from "./router";
import css from "@views/about/about.module.css";
import Layout2 from "../layouts/Layout2/Layout2.astro";
import bladeRunner from "@views/about/bladeRunner.avif";
import { Picture } from "astro:assets";
import Btn from "src/components/buttons/Btn/Btn.astro";
---

<Layout2 title={ROUTER.about.display}>
  <div class={css.wrapper}>
    <div class={css.container1}>
      <h1>
        <span class={css.span1}>TU</span>
        <span class={css.span2}>PRÓXIMO MARATÓN</span>
        <span class={css.span3}>EMPIEZA AQUÍ 🎞️</span>
      </h1>
      <a href={ROUTER.index.path}><Btn>Películas</Btn></a>
    </div>

    <div class={css.container2}>
      <p>
        En DRAGON, te conectamos con el fascinante mundo del cine. Explora
        nuestra colección de casi 1 millón de películas, clásicos, últimos
        estrenos. Descubre sinopsis, detalles, y disfruta de trailers que te
        acercan a tus historias favoritas.
      </p>
    </div>
  </div>

  <Picture
    class={css.img}
    src={bladeRunner}
    alt={"blade runner"}
    formats={["avif", "webp"]}
    widths={[768, 1024, bladeRunner.width]}
    sizes={`(max-width: 375px) 768px, (max-width: 768px) 1024px, (max-width: 1024px) ${bladeRunner.width}px`}
  />
</Layout2>
